:root {
  --border: 1px solid var(--border-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --bg-color: #141414;
    --border-color: #232323;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #141414;
    --bg-color: #ebebeb;
    --border-color: #d0d0d0;
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

body,
button {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.date-type-container {
  margin-top: 20px;
  display: flex;
  border-radius: 5px;
}

.date-select {
  padding: 5px 10px;
  background: none;
  outline: none;
  transition: 0.3s;
}

.date-type-container {
  border: var(--border);
}

.date-select:hover {
  background: var(--border-color);
  transition: 0.3s;
}

.selected-date {
  background: var(--border-color);
}

.date-select:nth-child(2) {
  border-left: var(--border);
  border-right: var(--border);
}

.date-select:nth-child(3) {
  border-right: var(--border);
}

.year-title {
  font-weight: 300;
  padding-left: 10px;
}
