:root {
  --border: 1px solid var(--border-color);
  --current-date-red: #d64045;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --bg-color: #141414;
    --border-color: #232323;
    --text-bg-blend-color: #363636;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #141414;
    --bg-color: #ebebeb;
    --border-color: #d0d0d0;
    --text-bg-blend-color: #bababa;
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90%;
}

button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

body,
button {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  width: 100%;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.date-type-container {
  margin-top: 20px;
  display: flex;
  border-radius: 5px;
  width: 100%;
}

.date-select {
  flex-grow: 1;
  padding: 5px 10px;
  background: none;
  outline: none;
  transition: 0.3s;
}

.date-type-container {
  border: var(--border);
}

.date-select:hover {
  background: var(--border-color);
  transition: 0.3s;
}

.selected-date {
  background: var(--border-color);
}

.date-select:nth-child(2) {
  border-left: var(--border);
  border-right: var(--border);
}

.date-select:nth-child(3) {
  border-right: var(--border);
}

.date-title-container {
  display: flex;
  gap: 10px;
}

.date-title {
  font-weight: 200;
}

.date-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.date-selection-container {
  display: flex;
  width: 100%;
  gap: 5px;
}

.date-selection-container button {
  flex-grow: 1;
  border: var(--border);
  border-radius: 5px;
  padding: 5px 15px;
  transition: 0.3s;
}

.date-selection-container button:hover {
  background: var(--border-color);
  transition: 0.3s;
}

.hour-container {
  width: 100%;
  height: 100px;
}

.hour {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.time {
  color: var(--text-bg-blend-color);
  font-size: 0.8rem;
}

.hour-line-break {
  width: 100%;
  height: 1px;
  background: var(--border-color);
}

.current-date-red-text {
  color: var(--current-date-red) !important;
}

.current-date-red-bg {
  background: var(--current-date-red);
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.year-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.year-card {
  width: calc(25% - 20px);
}

/* Tablet */
@media (min-width: 500px) {
  .date-type-container {
    max-width: 500px;
  }

  .date-nav {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .date-selection-container {
    width: unset;
  }

  .date-selection-container button {
    flex-grow: unset;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}
